.Flash {
  text-align: center;
  background-color: #F6F6F6;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 15vh;
  background-color: #5190A5;
  align-items: center;
}